
<div class="content" style='page-break-after: always;'>
    <p style="float:left">Rujukan Kami: TNB/KEW (UP) B 14/8/Deraf</p>
    <p style="float:right">12 Mac 2019</p>
    <p><br /></p>
    <p>
        <br />Pengurus Maybank,
        <br />Level 1, Tower A, Dataran Maybank
        <br />No. 1, Jalan Maarof
        <br />Kuala Lumpur
    </p>
    <p>
        <b>
            <u>
                U/Perhatian : Pn. Wan Surainee
            </u>
        </b>
    </p>
    <p>
        Puan,
    </p>
    <p>
        <b>
            <u>
                DERAF BANK PADA 13.03.2019 (RABU)
            </u>
        </b>
    </p>
    <p>
        Sila uruskan deraf bank dalam matawang <b>Ringgit Malaysia</b> seperti berikut :
    </p>
    <table style="font-weight:bold; border:0px; width:100%">
        <tr>
            <th></th>
            <th style="text-align:center"><u>Nama Penerima</u></th>
            <th style="text-align:center"><u>Tempat</u></th>
            <th style="text-align:center"><u>Jumlah</u></th>
        </tr>
        <tr>
            <td>1.</td>
            <td>PENGARAH JKR NEGERI PAHANG</td>
            <td style="text-align:center">PAHANG</td>
            <td style="text-align:center">RM 232,659.00</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>PENGARAH JKR NEGERI PAHANG</td>
            <td style="text-align:center">PAHANG</td>
            <td style="text-align:center">RM 391,440.00</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>MAJLIS PERBANDARAN SUBANG JAYA</td>
            <td style="text-align:center">SELANGOR</td>
            <td style="text-align:center">RM 26,730.00</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="text-align:center">JUMLAH</td>
            <td style="border-bottom:1px solid; border-top:1px solid;text-align:center">RM 650,829.00</td>
        </tr>
    </table>
    <p>
        Ringgit : Enam ratus lima puluh ribu lapan ratus dua puluh sembilan sahaja.
    </p>
    <p>
        Sila debit Akaun TNB berikut :
        <ul>
            <li>
                <b>5-14253-33333-4</b> bagi jumlah diatas
            </li>
            <li>
                <b>5-14253-50002-0</b> untuk caj bank.
            </li>
        </ul>
    </p>
    <p>
        <b>
            Ref: 1)PJKRNP 2) MPSJ
        </b>
    </p>
    <p>
        Sekian, terima kasih.
    </p>
    <p>
        <center>
            <b>
                "BETTER. BRIGHTER."
                <br />"TNB MENGAMALKAN DASAR TIADA HADIAH"
            </b>
        </center>
    </p>
    <p>
        Yang benar,
    </p>
    <p>
        <br />
        <br />
        <br />
        <table style="border:0px; width:100%">
            <tr>
                <td style="border-top:1px solid" width="25%">Penandatangan Yang Diberikuasa</td>
                <td width="25%"></td>
                <td style="border-top:1px solid" width="25%">Penandatangan Yang Diberikuasa</td>
            </tr>
        </table>
    </p>
    <div style="float:right">
        <span style="border:1px solid rgba(0,0,0,0.5); padding:5px">
            FSTL-750-03-QR02
        </span>
    </div>
</div>