
@{
    ViewData["Title"] = "Home Page";
    var userId = User.Identity.Name;
    var requesterWangCagaranLess5M = User.HasClaim("_permission", "RequestWangCagaranLess5M");
    var requesterWangHangusLess500k = User.HasClaim("_permission", "RequestWangHangusLess500K");
    var requesterWangHangusMore500k = User.HasClaim("_permission", "RequestWangHangusMore500K");
    var requesterWangCagaranMore5M = User.HasClaim("_permission", "RequestWangCagaranMore5M");
    var reqCancellation = User.HasClaim("_permission", "RequestCancellation");
    var reqRecovery = User.HasClaim("_permission", "RequestRecovery");
    var reqLost = User.HasClaim("_permission", "RequestLost");
}

@section Styles{

    <style>

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-recover:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }

        #notiWC, #notiWH, #notiCancel, #notiRec, #notiLost {
            cursor: pointer;
        }
    </style>
}
<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Home</h2>
                    <div>
                        <!--<div class="page-header-tools">
                        <a class="btn btn-gradient-01" href="#">Add Widget</a>
                    </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Begin Row -->
        <div class="row flex-row">

            <!--<div class="col-xl-3 col-md-6 col-sm-6">
            <a class="btn btn-gradient-03" href="apply.html">New Application</a>
        </div>-->
            @*<div class="col-xl-3 col-md-6 col-sm-6">
                <div class="btn-group mr-1 mb-2">
                    <a class="btn" style="background-color:#5d5386; color:white;text-align:right">
                        New Application
                    </a>
                    <a class="btn btn-primary dropdown-toggle  btn-apply d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                        <i class="la la-angle-down mr-0" "></i>
                    </a>
                    <div class="dropdown-menu btn-apply" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(92px, -2px, 0px);">
                        <a class="dropdown-item" href="/wangcagaran/apply">Wang Cagaran</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/wanghangus/apply">Wang Hangus</a>
                    </div>
                </div>
            </div>*@
            <div class="col-xl-3 col-md-6 col-sm-6">

                <div class="btn-group mr-1 mb-2">

                    @ViewBag.UsernameSession
                    @*@User.HasClaim("_permission", "RequestWangHangus")*@

                    @if (requesterWangCagaranLess5M && requesterWangHangusLess500k)
                    {
                        <button class="btn btn-primary dropdown-toggle  btn-apply" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                            New Application
                        </button>
                        <div class="dropdown-menu btn-apply" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(92px, -2px, 0px);">
                            <a class="dropdown-item" href="/wangcagaran/create">Wang Cagaran</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/wangcagaranhangus/create">Wang Cagaran with Hangus</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/wanghangus/create">Wang Hangus</a>
                        </div>
                    }
                    else if (requesterWangCagaranMore5M)
                    {
                        <button class="btn btn-primary dropdown-toggle  btn-apply" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                            New Application  &nbsp;  &nbsp;
                            <i class="la la-angle-down mr-0"></i>
                        </button>
                        <div class="dropdown-menu btn-apply" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(92px, -2px, 0px);">
                            <a class="dropdown-item" href="/wangcagaran/create">Wang Cagaran</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/wangcagaranhangus/create">Wang Cagaran with Hangus</a>
                        </div>
                    }
                    else if (requesterWangHangusMore500k)
                    {
                        <button class="btn btn-primary dropdown-toggle  btn-apply" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                            New Application  &nbsp;  &nbsp;
                            <i class="la la-angle-down mr-0"></i>
                        </button>
                        <div class="dropdown-menu btn-apply" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(92px, -2px, 0px);">
                            <a class="dropdown-item" href="/wanghangus/create">Wang Hangus</a>
                        </div>
                    }
                    else
                    {
                        @*<button class="btn btn-primary btn-apply" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                New Application  &nbsp;  &nbsp;
            </button>*@
                    }

                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                @if (reqCancellation)
                {
                    <button id="btnCancel" href="/Cancellation/Create" type="button" class="btn btn-shadow btn-cancel btn-block mb-2">Cancel Application</button>
                }
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                @if (reqRecovery)
                {
                    <button id="btnRecover" href="/Recovery/Create" type="button" class="btn btn-shadow btn-recover btn-block mb-2">Recover Application</button>
                }
            </div>
            <div class="col-xl-3 col-md-6 col-sm-6">
                @if (reqLost)
                {
                    <button id="btnLost" href="/Lost/Create" type="button" class="btn btn-shadow btn-lost btn-block mb-2">Lost Application</button>
                }
            </div>
        </div>
        <!-- End Row -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <br />
        </div>

        @*added by hanif 16032020*@
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered no-actions d-flex align-items-center">
                            <h4>Summary</h4>
                        </div>
                        <!-- Other Style -->
                        <div class="col-xl-12 col-md-12">
                            <div class="row flex-row">
                                <div class="col-xl-6">
                                    <div id="notiApp" class="alert btn-gradient-03 alert-lg square" style="text-align:center;color:white;padding:10px" role="alert">
                                        <i style="margin-right:60px;font-size:40px" class="la la-money"></i>
                                        <a id="appId" style="font-weight:bold;font-size:18px">Application Request</a>
                                        &nbsp;
                                        <a id="appId2" class="btn mr-1 mb-2" style="font-weight:bold;margin-top:5px;margin-left:15px;font-size:17px;background:white;color:#6859ea"></a>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div id="notiLost" class="alert btn-gradient-05 alert-primary-bordered alert-lg square" style="text-align:center;color:white;padding:10px;box-shadow:7px 0 0 0 #e23f83 inset" role="alert">
                                        <i style="margin-right:60px;font-size:40px" class="la la-area-chart"></i>
                                        <a id="lostId" style="font-weight:bold;font-size:18px">Lost Request</a>
                                        &nbsp;
                                        <a id="lostId2" class="btn mr-1 mb-2" style="font-weight:bold;margin-top:5px;margin-left:15px;font-size:17px;background:white;color:#bc0056"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-row">
                                <div class="col-xl-6">
                                    <div id="notiCancel" class="alert btn-gradient-01 alert-primary-bordered alert-lg square" style="text-align:center;color:white;padding:10px;box-shadow:7px 0 0 0 #e95050 inset" role="alert">
                                        <i style="margin-right:60px;font-size:40px" class="ion-close-circled"></i>
                                        <a id="cancellationId" style="font-weight:bold;font-size:18px">Cancellation Request</a>
                                        &nbsp;
                                        <a id="cancellationId2" class="btn mr-1 mb-2" style="font-weight:bold;margin-top:5px;margin-left:70px;font-size:17px;background:white;color:#e23f83"></a>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div id="notiRec" class="alert btn-gradient-04 alert-primary-bordered alert-lg square" style="text-align:center;color:white;padding:10px;box-shadow:7px 0 0 0 #3b9c5a inset" role="alert">
                                        <i style="margin-right:70px;font-size:40px" class="ion-loop"></i>
                                        <a id="recoveryId" style="font-weight:bold;font-size:18px">Recovery Request</a>
                                        &nbsp;
                                        <a id="recoveryId2" class="btn mr-1 mb-2" style="font-weight:bold;margin-top:5px;margin-left:90px;font-size:17px;background:white;color:#3b9c5a"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*end hanif 16032020*@

        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered no-actions d-flex align-items-center">
                            <h4>Recent History</h4>
                        </div>
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table id="tblDashboard" class="table table-hover mb-0 display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Reference No.</th>
                                            <th>BD No.</th>
                                            <th>Project No.</th>
                                            <th><span style="width:150px;">Application Type</span></th>
                                            <th>Submission Date</th>
                                            <th><span style="width:130px;">Status</span></th>
                                            <th>Status Date</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr class="filterrow">
                                            <th class="input-filter"><input id="search-refNo" type="text" class="form-control tchatchaca" style="height:40px !important;" placeholder="Search.."></th>
                                            <th class="input-filter"><input id="search-BDNo" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                            <th class="input-filter"><input id="search-projectNo" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                            @*<th class="input-filter"><input id="search-applicationType" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>*@
                                            <th class="select-filter">
                                                <select id="search-applicationType" class="form-control filter" style="height:40px !important;" placeholder="Type">
                                                    <option value="">All</option>
                                                    <option value="WangCagaran">Wang Cagaran</option>
                                                    <option value="WangHangus">Wang Hangus</option>
                                                    <option value="WangCagaranHangus">Wang Cagaran Hangus</option>
                                                    <option value="Cancel">Cancel</option>
                                                    <option value="Recover">Recover</option>
                                                    <option value="Lost">Lost</option>
                                                </select>
                                            </th>
                                            <th class="input-filter"><input id="search-submitDate" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                            <th class="select-filter">
                                                <select id="search-status" class="form-control filter" style="height:40px !important;" placeholder="Status">
                                                    <option value="">All</option>
                                                    <option value="Submitted">Submitted</option>
                                                    <option value="Verified">Verified</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Accepted">Accepted</option>
                                                    <option value="Processed">Processed</option>
                                                    <option value="Issued">Issued</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </th>
                                            <th class="input-filter"><input id="search-updatedOn" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    <!-- Offcanvas Sidebar -->
    <!-- End Offcanvas Sidebar -->
</div>

@section Scripts{
    <script src="~/assets/vendors/js/datatables/datatables.min.js"></script>
    <script src="~/assets/vendors/js/datatables/dataTables.select.min.js"></script>
    <script src="~/assets/vendors/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.flash.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.print.min.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.html5.js"></script>

    <script src="~/assets/vendors/js/tablefilter/jquery.tablefilter.js"></script>
    <script src="~/assets/vendors/js/tablefilter/jquery.tabledatafilter.min.js"></script>

    <script>

        //window.onload = function () {
        //    if (!window.location.hash) {
        //        window.location = window.location + '#';
        //        window.location.reload();
        //    }
        //}

        function getPendingApplicationCount() {

            $.ajax({
            type: "GET",
            url: "/Application/GetMyPendingApplication",
            success: function (data) {

                $('#appId2').text(data.length);
            }
            });

            $.ajax({
                type: "GET",
                url: "/Application/GetMyLost",
                success: function (data) {

                    $('#lostId2').text(data.length);
                }
            });

            $.ajax({
                type: "GET",
                url: "/Application/GetMyCancellation",
                success: function (data) {

                    $('#cancellationId2').text(data.length);
                }
            });

            $.ajax({
                type: "GET",
                url: "/Application/GetMyRecovery",
                success: function (data) {

                    $('#recoveryId2').text(data.length);
                }
            });
            
        }

        $(document).ready(function () {
            getPendingApplicationCount();

            $.fn.dataTable.ext.type.order['custom-date-pre'] = function(date) {
                if (!date) return 0;

                var parts = date.split(/[\s/:]+/); 
                if (parts.length < 3) return 0;

                var day, month, year;

                if (parseInt(parts[0]) > 12) { 
                    //assume dd/mm/yyyy
                    day = parts[0];
                    month = parts[1];
                } else { 
                    // Assume mm/dd/yyyy
                    month = parts[0];
                    day = parts[1];
                }
                year = parts[2];

                return new Date(year, month - 1, day).getTime();
            };
            
              var table =   $('#tblDashboard').DataTable({
                    dom: "Bfrtip",
                    "processing": true,
                    //serverSide: true,
                    "ajax": {
                        url:  "@Url.Action("GetAll5RecentTask", "Home")",
                        type: "GET",
                        data: function (d) {
                            d.refNo = $('#search-refNo').val();
                            d.bDNo = $('#search-BDNo').val();
                            d.projectNo = $('#search-projectNo').val();
                            d.applicationType = $('#search-applicationType option:selected').val();
                            d.submitDate = $('#search-submitDate').val();
                            d.status = $('#search-status option:selected').val();
                            d.updatedOn = $('#search-updatedOn').val();
                        },
                        dataFilter: function (result) {
                            var jData = JSON.parse(result);
                            var dtData = JSON.stringify({ "data": jData });
                            return dtData;
                        }
                     },
                    order: [[1, 'asc']],
                  columnDefs: [
                      { type: 'custom-date', targets: [4, 6] } // Apply custom sorting to submitDate & updatedOn
                  ],
                    columns: [
                        { data: "refNo" },
                        { data: "bdNo" },
                        { data: "projectNo" },
                        { data: "applicationType" },
                        { data: "submitDate" },
                        { data: "status" },
                        { data: "updatedOn" },
                        {
                            data: "id",
                            "render": function (data, type, row) {
                                var id = data;
                                var href = "/" + row["applicationType"] + "/Edit/" + id;
                                if (type == "display") {
                                    data = '<a href="' + href + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost btn-block mb-2">View</a>';
                                }
                                return data;
                            }
                        }
                    ],
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    orderCellsTop: true,
                    fixedHeader: true,
                    "lengthChange": false,
            });

            $('.table thead filterCol').appendTo('table thead');

            $.each($('.input-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('input', this).on('keyup change', function () {
                    table.ajax.reload();
                });
            });

            $.each($('.select-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('select', this).on('change', function () {
                    table.ajax.reload();
                });
            });

            $('#tblDashboard').dataTable.ext.errMode = 'throw';

        });



        $('#btnCancel').on('click', function (e) {
            window.location.href = '/Cancellation/Create'
        });

        $('#btnRecover').on('click', function (e) {
            window.location.href = '/Recovery/Create'
        });

        $('#btnLost').on('click', function (e) {
            window.location.href = '/Lost/Create'
        });

        if ('@User.IsInRole("Viewer")' == 'True' || '@User.IsInRole("Business Partner")' == 'True') {

            $('#notiApp').on('click', function (e) {
                window.location.href = '/application/manageapplicationV2'
            });

            $('#appId').on('click', function (e) {
                window.location.href = '/application/manageapplicationV2'
            });

            $('#appId2').on('click', function (e) {
                window.location.href = '/application/manageapplicationV2'
            });

            $('#notiCancel').on('click', function (e) {
                window.location.href = '/application/managecancellationV2'
            });

            $('#cancellationId').on('click', function (e) {
                window.location.href = '/application/managecancellationV2'
            });

            $('#cancellationId2').on('click', function (e) {
                window.location.href = '/application/managecancellationV2'
            });

            $('#notiRec').on('click', function (e) {
                window.location.href = '/application/managerecoveryV2'
            });

            $('#recoveryId').on('click', function (e) {
                window.location.href = '/application/managerecoveryV2'
            });

            $('#recoveryId2').on('click', function (e) {
                window.location.href = '/application/managerecoveryV2'
            });

            $('#notiLost').on('click', function (e) {
                window.location.href = '/application/managelostV2'
            });

            $('#lostId').on('click', function (e) {
                window.location.href = '/application/managelostV2'
            });

            $('#lostId2').on('click', function (e) {
                window.location.href = '/application/managelostV2'
            });

        }
        else {
            $('#notiApp').on('click', function (e) {
                window.location.href = '/application/manageapplication'
            });

            $('#appId').on('click', function (e) {
                window.location.href = '/application/manageapplication'
            });

            $('#appId2').on('click', function (e) {
                window.location.href = '/application/manageapplication'
            });

            $('#notiCancel').on('click', function (e) {
                window.location.href = '/application/managecancellation'
            });

            $('#cancellationId').on('click', function (e) {
                window.location.href = '/application/managecancellation'
            });

            $('#cancellationId2').on('click', function (e) {
                window.location.href = '/application/managecancellation'
            });


            $('#notiRec').on('click', function (e) {
                window.location.href = '/application/managerecovery'
            });

            $('#recoveryId').on('click', function (e) {
                window.location.href = '/application/managerecovery'
            });

            $('#recoveryId2').on('click', function (e) {
                window.location.href = '/application/managerecovery'
            });

            $('#notiLost').on('click', function (e) {
                window.location.href = '/application/managelost'
            });

            $('#lostId').on('click', function (e) {
                window.location.href = '/application/managelost'
            });

            $('#lostId2').on('click', function (e) {
                window.location.href = '/application/managelost'
            });
        }
       

    </script>
}