@model BDA.ViewModel.BankDraftViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="widget-header d-flex align-items-center" aria-expanded="true">
    <h3>Comment</h3>
    <div class="col-sm-1 form-control-label d-flex"><span class="text-danger ml-2">*</span></div>
</div>
<div id="pnl_approver" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="row">
                    @Html.TextAreaFor(x => x.Comment, new { @class = "form-control txaComment", placeholder = "Komen dan cadangan", @required = "required"})
                </div>
            </div>
        </div>
    </div>
</div>