@model BDA.ViewModel.BankDraftViewModel
@{
    //var WHDocument = "";
    //var umap = "";

    if (Model != null)
    {
        //WHDocument = Model.WHFileVM.FileName;
        //umap = Model.WCUMAPVM.FileName;
    }

}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="widget-header d-flex align-items-center" aria-expanded="true">
    <h3>
        Supporting Document
    </h3>
    <div class="col-sm-1 form-control-label d-flex"><span class="text-danger ml-2">*</span></div>
</div>
<div id="pnl_first_form" class="widget">
    <div class="padding-left-20 padding-right-20">
        <br /><br />
        <table id="suppDoc" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Attachment</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <br />
        <button type="button" id="addRow" class="btn btn-secondary ripple">Add Attachment</button>
    </div>
</div>
@*<div id="pnl_document" class="widget-body">
    <div class="table-responsive padding-left-20 padding-right-20">
        <div class="widget-body">
            <table id="suppDoc" style="width:100%" class="table table-hover mb-0 display table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Attachment</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
           
            <br />
            <button type="button" id="addRow2" class="before-submit btn btn-secondary ripple">Add Attachment</button>
        </div>
    </div>
</div>*@