
<div class="status-bar has-shadow text-center">
    <div class="status-header">
        <span>Application Status</span>
    </div>
    <div class="step-container">
        <div class="step-wizard">
            <div class="progress">
                <div class="progressbar"></div>
            </div>
            <ul class="seven">
                <li>
                        <a id="li-1" class="not-clickable active" data-toggle="tab" href="#">
                            <span class="step">1</span>
                            <span class="title">Create<br /><p style="font-size:12px;font-style:italic">(Requester)</p></span>
                        </a>
                </li>
                <li>
                        <a id="li-2" class="not-clickable" data-toggle="tab" href="#" title="Pending Verification">
                            <span class="step">2</span>
                            <span class="title">Approve<br /><p style="font-size:12px;font-style:italic">(Approver)</p></span>
                        </a>
                </li>
                <li>
                        <a id="li-4" class="not-clickable" data-toggle="tab" href="#">
                            <span class="step">3</span>
                            <span class="title">Accept<br /><p style="font-size:12px;font-style:italic">(AP Banking - TGBS)</p></span>
                        </a>
                </li>
                <li>
                        <a id="li-5" class="not-clickable" data-toggle="tab" href="#">
                            <span class="step">4</span>
                            <span class="title">Submit To Bank<br /><p style="font-size:12px;font-style:italic">(AP Banking - TGBS)</p></span>
                        </a>
                </li>
                <li>
                   <a id="li-6" class="not-clickable" data-toggle="tab" href="#">
                            <span class="step">5</span>
                            <span class="title">Issue BD<br /><p style="font-size:12px;font-style:italic">(AP Banking - TGBS)</p></span>
                        </a>
                </li>
                <li> 
                        <a id="li-7" class="not-clickable" data-toggle="tab" href="#">
                            <span class="step">6</span>
                            <span class="title">Confirm<br /><p style="font-size:12px;font-style:italic">(Requester)</p></span>
                        </a>
                </li>
                <li>
                        <a id="li-8" class="not-clickable" data-toggle="tab" href="#">
                            <span class="step">7</span>
                            <span class="title">Complete</span>
                        </a>
                </li>
            </ul>
        </div>
    </div>
    @*<div class="status-footer">
            <div class="status-footer-group">
                <div class="label-box"><span>Action<span></span></span></div>
                <div class="description-box"><span id="appStatus">Pending Verification</span></div>
            </div>
            <div class="status-footer-group">
                <div class="label-box"><span>Action By</span></div>
                <div class="description-box"><span>Ahmad Hasree</span></div>
            </div>
            <div class="status-footer-group">
                <div class="label-box"><span>Submitted Date</span></div>
                <div class="description-box"><span>20/09/2019</span></div>
            </div>
        </div>*@
</div>
