<div class="widget-header d-flex align-items-center" aria-expanded="true">
    <h3>Senarai Aktiviti</h3>
</div>
<div id="pnl_history" class="widget-body">
    <table id="tblHistory" class="table table-hover mb-0 display table-bordered">
        <thead>
            <tr>
                <td>Role</td>
                <td>Action By</td>
                <td>Comment</td>
                <td>Status</td>
                <td>Action Date</td>
            </tr>
        </thead>
        @*<tbody>
            <tr>
                <td>Requester</td>
                <td>Ahmad Hasree</td>
                <td>N/A</td>
                <td>Submitted</td>
                <td>20/09/2019</td>
            </tr>
            <tr>
                <td>Verifier</td>
                <td>Siti Rohani</td>
                <td>Semuanya lengkap.</td>
                <td>Verified</td>
                <td>29/09/2019</td>
            </tr>
            <tr>
                <td>Approver</td>
                <td>Muhammad Nazeef</td>
                <td>Tidak Setuju dengan harga yang diberikan.</td>
                <td>Rejected</td>
                <td>30/09/2019</td>
            </tr>
        </tbody>*@
    </table>
</div>