<div id="stsSubmitted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Pending Verification! </strong>This application is waiting for verification.</span>
</div>
<div id="stsRejected" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Application Rejected! </strong>This application is waiting re-submission.</span>
</div>
<div id="stsVerified" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Pending Approval! </strong>This application is waiting for approval.</span>
</div>
<div id="stsApproved" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Pending Acceptance! </strong>This application is waiting for TGBS Acceptance.</span>
</div>
<div id="stsAccepted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Processing.. </strong>This application is currently processing Instruction Letter to Bank.</span>
</div>
<div id="stsProcessed" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Pending Bank Draft! </strong>This application is currently processing for Bank Draft.</span>
</div>
<div id="stsIssued" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Sending to Requestor! </strong>This application is waiting for Requestor Acceptance.</span>
</div>
<div id="stsCompleted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Application Completed! </strong>This application is completed.</span>
</div>