<div id="stsCreated" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Lost Created! </strong>This lost is created</span>
</div>
<div id="stsProcessed" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Lost Processed! </strong>This lost is processed.</span>
</div>
<div id="stsSubmitted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Lost Submitted! </strong>This application is submitted.</span>
</div>
<div id="stsCompleted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Lost Completed! </strong>This application is completed.</span>
</div>
<div id="stsWithdrawn" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Lost Withdrawn! </strong>This application is waiting re-submission.</span>
</div>
<div id="stsRejected" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Lost Rejected! </strong>This application is waiting re-submission.</span>
</div>