<div id="roleRequester" role="alert" style="display:none">
    <select id="search-status2" class="form-control filter" style="height:40px !important;" placeholder="Status">
        <option value=""></option>
        <option value="Draft">Draft</option>
        <option value="Submitted">Submitted</option>
        <option value="Verified">Verified</option>
        <option value="Approved">Approved</option>
        <option value="Rejected">Rejected</option>
        <option value="Accepted">Accepted</option>
        <option value="Declined">Declined</option>
        <option value="Processed">Processed</option>
        <option value="Issued">Issued</option>
        <option value="Complete">Completed</option>
    </select>
</div>
<div id="roleTB" class="alert alert-outline-primary" role="alert" style="display:none">
    <select id="search-status2" class="form-control filter" style="height:40px !important;" placeholder="Status">
        <option value=""></option> 
        <option value="Approved">Approved</option>
        <option value="Accepted">Accepted</option>
        <option value="Declined">Declined</option>
        <option value="Processed">Processed</option>
        <option value="Issued">Issued</option>
        <option value="Complete">Completed</option>
    </select>
</div>