@{
     ViewData["Title"] = "My Application";
    var reqWangCagaran1 = User.HasClaim("_permission", "RequestWangCagaranLess5M");
    var reqWangCagaran2 = User.HasClaim("_permission", "RequestWangCagaranMore5M");

    var reqWangHangus1 = User.HasClaim("_permission", "RequestWangHangusLess500K");
    var reqWangHangus2 = User.HasClaim("_permission", "RequestWangHangusMore500K");
}

@section Styles{

    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-recover:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }
    </style>
}
<div class="content-inner active">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">My Application</h2>
                    <div>
                        <!--<div class="page-header-tools">
                            <a class="btn btn-gradient-01" href="#">Add Widget</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Begin Row -->
        <!-- End Row -->
        <!-- Begin Row -->
        <div class="row flex-row">
            @if (reqWangCagaran1 || reqWangCagaran2)
            {
            <div class="col-xl-3 col-md-6 col-sm-6">
                <a id="btnCreateWC" href="/WangCagaran/Create" class="btn btn-create">Create Wang Cagaran</a>
            </div>
            }
            @if (reqWangHangus1 || reqWangHangus2)
            {
            <div class="col-xl-3 col-md-6 col-sm-6">
                <a id="btnCreateWH" href="/WangHangus/Create" class="btn btn-create">Create Wang Hangus</a>
            </div>
            }
        </div>
        <br />
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget-body sliding-tabs">
                    <ul class="nav nav-tabs form-tab" id="ul-form-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="base-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">In Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="base-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Completed</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-3">
                        <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="base-tab-1">
                            <div class="row flex-row">
                                <div class="col-xl-12 col-md-12">
                                    <div class="table-responsive">
                                        <div class="widget has-shadow">
                                            <div class="widget-body">
                                                <div class="table-responsive">
                                                    <table id="tblInProgress" class="table table-hover mb-0 display" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Reference No.</th>
                                                                <th>Requester</th>
                                                                <th>BD No.</th>
                                                                @*<th>Name On BD</th>*@
                                                                <th>Project No.</th>
                                                                <th>Amount (RM)</th>
                                                                <th><span style="width:150px;">Application Type</span></th>
                                                                @*<th>Submission Date</th>*@
                                                                <th><span style="width:130px;">Status</span></th>
                                                                <th>Status Date</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            <tr class="filterrow">
                                                                <th class="input-filter"><input id="search-refNo" type="text" class="form-control tchatchaca" style="height:40px !important;" placeholder="Search.."></th>
                                                                <th class="input-filter"><input id='search-requester' type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th class="input-filter"><input id='search-BDNo' type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                @*<th class="input-filter"><input id='search-nameOnBD' type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>*@
                                                                <th class="input-filter"><input id="search-projectNo" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th class="input-filter"><input id="search-amount" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th class="select-filter">
                                                                    <select id="search-applicationType" class="form-control filter" style="height:40px !important;" placeholder="Type">
                                                                        <option value=""></option>
                                                                        <option value="WangCagaran">Wang Cagaran</option>
                                                                        <option value="WangHangus">Wang Hangus</option>
                                                                        @*<option value="Cancel">Cancel</option>
                <option value="Recover">Recover</option>
                <option value="Lost">Lost</option>*@
                                                                    </select>
                                                                </th>
                                                                @*<th class="input-filter"><input id="search-submitDate" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>*@
                                                                <th class="select-filter">
                                                                    <select id="search-status" class="form-control filter" style="height:40px !important;" placeholder="Status">
                                                                        <option value=""></option>
                                                                        <option value="Draft">Draft</option>
                                                                        <option value="Submitted">Submitted</option>
                                                                        <option value="Verified">Verified</option>
                                                                        <option value="Approved">Approved</option>
                                                                        <option value="Rejected">Rejected</option>
                                                                        <option value="Accepted">Accepted</option>
                                                                        <option value="Declined">Declined</option>
                                                                        <option value="Processed">Processed</option>
                                                                        <option value="Issued">Issued</option>
                                                                        <option value="Complete">Completed</option>
                                                                    </select>
                                                                </th>
                                                                <th class="input-filter"><input id="search-updatedOn" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="base-tab-2">
                            <div class="row flex-row">
                                <div class="col-xl-12 col-md-12">
                                    <div class="table-responsive">
                                        <div class="widget has-shadow">
                                            <div class="widget-body">
                                                <div class="table-responsive">
                                                    <table id="tblComplete" class="table table-hover mb-0 display" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Reference No.</th>
                                                                <th>Requester</th>
                                                                <th>BD No.</th>
                                                                @*<th>Name On BD</th>*@
                                                                <th>Project No.</th>
                                                                <th>Amount (RM)</th>
                                                                <th><span style="width:150px;">Application Type</span></th>
                                                                @*<th>Submission Date</th>*@
                                                                <th><span style="width:130px;">Status</span></th>
                                                                <th>Status Date</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            <tr class="filterrow">
                                                                <th class="input-filter"><input id="search-refNo2" type="text" class="form-control tchatchaca" style="height:40px !important;" placeholder="Search.."></th>
                                                                <th class="input-filter"><input id='search-requester2' type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th class="input-filter"><input id='search-BDNo2' type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                @*<th class="input-filter"><input id='search-nameOnBD2' type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>*@
                                                                <th class="input-filter"><input id="search-projectNo2" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th class="input-filter"><input id="search-amount2" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th class="select-filter">
                                                                    <select id="search-applicationType2" class="form-control filter" style="height:40px !important;" placeholder="Type">
                                                                        <option value=""></option>
                                                                        <option value="WangCagaran">Wang Cagaran</option>
                                                                        <option value="WangHangus">Wang Hangus</option>
                                                                        @*<option value="Cancel">Cancel</option>
                <option value="Recover">Recover</option>
                <option value="Lost">Lost</option>*@
                                                                    </select>
                                                                </th>
                                                                @*<th class="input-filter"><input id="search-submitDate" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>*@
                                                                <th class="select-filter">
                                                                    <select id="search-status2" class="form-control filter" style="height:40px !important;" placeholder="Status">
                                                                        <option value=""></option>
                                                                        <option value="Draft">Draft</option>
                                                                        <option value="Submitted">Submitted</option>
                                                                        <option value="Verified">Verified</option>
                                                                        <option value="Approved">Approved</option>
                                                                        <option value="Rejected">Rejected</option>
                                                                        <option value="Accepted">Accepted</option>
                                                                        <option value="Declined">Declined</option>
                                                                        <option value="Processed">Processed</option>
                                                                        <option value="Issued">Issued</option>
                                                                        <option value="Complete">Completed</option>
                                                                    </select>
                                                                </th>
                                                                <th class="input-filter"><input id="search-updatedOn2" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
    </div>
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    <!-- Offcanvas Sidebar -->
    <!-- End Offcanvas Sidebar -->
</div>

@section Scripts{
    <script src="~/assets/vendors/js/tablefilter/jquery.tablefilter.js"></script>
    <script src="~/assets/vendors/js/tablefilter/jquery.tabledatafilter.min.js"></script>
    @*<script src="~/assets/vendors/js/tablefilter/jquery.tableditfixedheader.min.js"></script>*@
    <script>

        $(document).ready(function () {
            $(function () {
                $("nav").addClass("shrinked");
            });

             var table = $('#tblInProgress').DataTable({
                    dom: "Bfrtip",
                "processing": true,
                "columnDefs": [
                    { className: "dt-body-right", "targets": [4] },
                ],
                    //serverSide: true,
                    "ajax": {
                        url:  "@Url.Action("GetMyRequestApplication", "Application")",
                        type: "GET",
                        data: function (d) {
                            d.refNo = $('#search-refNo').val();
                            d.requesterName = $('#search-requester').val();
                            d.bdNo = $('#search-BDNo').val
                            //d.nameOnBd = $('#search-nameOnBD').val();
                            d.projectNo = $('#search-projectNo').val();
                            d.amount = $('#search-amount').val();
                            d.applicationType = $('#search-applicationType option:selected').val();
                            d.submitDate = $('#search-submitDate').val();
                            d.status = $('#search-status option:selected').val();
                            d.updatedOn = $('#search-updatedOn').val();
                        },
                        dataFilter: function (result) {
                            var jData = JSON.parse(result);
                            var dtData = JSON.stringify({ "data": jData });
                            return dtData;
                        }
                     },
                    order: [[1, 'asc']],
                    columns: [
                        { data: "refNo" },                   
                        { data: "requesterName" },
                        { data: "bdNo" },
                        //{ data: "nameOnBd" },
                        { data: "projectNo" },
                        { data: "amount" },
                        { data: "applicationType" },
                        //{ data: "submitDate" },
                        { data: "status" },
                        { data: "updatedOn" },
                        {
                            data: "id",
                            "render": function (data, type, row) {
                                var id = data;
                                var href = "/" + row["applicationType"] + "/Edit/"+ id;
                                if (type == "display") {
                                    data = '<a href="'+href+'" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost btn-block mb-2">View</a>';
                                }
                                return data;
                            }
                        }
                    ],
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": true,
                    "bAutoWidth": false,
                    orderCellsTop: true,
                    fixedHeader: true,
                    "lengthChange": false,
            });


            $('#tblInProgress thead filterCol').appendTo('table thead');

            $.each($('.input-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('input', this).on('keyup change', function () {
                    table.ajax.reload();
                });
            });

            $.each($('.select-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('select', this).on('change', function () {
                    table.ajax.reload();
                });
            });

            $('#tblInProgress').dataTable.ext.errMode = 'throw';

            var table2 = $('#tblComplete').DataTable({
                    dom: "Bfrtip",
                "processing": true,
                "columnDefs": [
                    { className: "dt-body-right", "targets": [4] },
                ],
                    //serverSide: true,
                    "ajax": {
                        url:  "@Url.Action("GetMyRequestCompleteApplication", "Application")",
                        type: "GET",
                        data: function (d) {
                            d.refNo = $('#search-refNo2').val();
                            d.requesterName = $('#search-requester2').val();
                            //d.bDNo = $('#search-BDNo2').val();
                            d.nameOnBd = $('#search-nameOnBD2').val();
                            d.projectNo = $('#search-projectNo2').val();
                            d.amount = $('#search-amount2').val();
                            d.applicationType = $('#search-applicationType2 option:selected').val();
                            d.submitDate = $('#search-submitDate2').val();
                            d.status = $('#search-status2 option:selected').val();
                            d.updatedOn = $('#search-updatedOn2').val();
                        },
                        dataFilter: function (result) {
                            var jData = JSON.parse(result);
                            var dtData = JSON.stringify({ "data": jData });
                            return dtData;
                        }
                     },
                    order: [[1, 'asc']],
                    columns: [
                        { data: "refNo" },                   
                        { data: "requesterName" },
                        { data: "bdNo" },
                        //{ data: "nameOnBd" },
                        { data: "projectNo" },
                        { data: "amount" },
                        { data: "applicationType" },
                        //{ data: "submitDate" },
                        { data: "status" },
                        { data: "updatedOn" },
                        {
                            data: "id",
                            "render": function (data, type, row) {
                                var id = data;
                                var href = "/" + row["applicationType"] + "/Edit/"+ id;
                                if (type == "display") {
                                    data = '<a href="'+href+'" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost btn-block mb-2">View</a>';
                                }
                                return data;
                            }
                        }
                    ],
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": true,
                    "bAutoWidth": false,
                    orderCellsTop: true,
                    fixedHeader: true,
                    "lengthChange": false,
            });


            $('#tblComplete thead filterCol').appendTo('table thead');

            $.each($('.input-filter', table2.table().header()), function () {
                var column = table2.column($(this).index());

                $('input', this).on('keyup change', function () {
                    table2.ajax.reload();
                });
            });

            $.each($('.select-filter', table2.table().header()), function () {
                var column = table2.column($(this).index());

                $('select', this).on('change', function () {
                    table2.ajax.reload();
                });
            });

            $('#tblComplete').dataTable.ext.errMode = 'throw';
           
        });


    </script>
}