@{
    ViewData["Title"] = "Reporting";
}

@section Styles{

    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-recover:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }
    </style>
}
<div class="content-inner active">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="page-header-title">Reports</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget has-shadow">
            <h2 style="padding-top:30px;padding-left:30px" class="page-header-title"><b>SUMMARY OF BD ISSUED & BD RECOVERY AS AT JUNE 2019</b></h2>
            <h2 style="padding-top:30px;padding-left:30px">Lampiran 1</h2>
            <div class="widget-body">
                <div class="form-group row">
                    <div class="col-xl-2">
                        <select id="ddlMonth" name="ddlMonth" class="selectpicker show-menu-arrow form-control" tabindex="-98" style="background-color:white">
                            <option value="0" selected disabled>Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="col-xl-2">
                        <select id="ddlYear" name="ddlYear" class="selectpicker show-menu-arrow form-control" tabindex="-98">
                            <option value="0" selected disabled>Year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                    </div>
                    <div class="col-xl-2">
                        <button id="btnPull" class="btn btn-success">Show</button>
                    </div>
                </div>
            </div>
            <div class="row flex-row">
                <div class="col-xl-12">
                    <div class="row flex-row">
                        <div class="col-xl-12 col-md-12">
                            <div class="table-responsive">
                                <div class="widget has-shadow">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="tblLampiran1" class="table table-bordered table-hover mb-0 display" styles="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">State</th>
                                                        <th style="text-align:center">No. of BD Issued</th>
                                                        <th style="text-align:center">Issued Amount (RM)</th>
                                                        <th style="text-align:center">No. of BD Recovered</th>
                                                        <th style="text-align:center">Recovered Amount (RM)</th>
                                                        <th style="text-align:center">Total BD After Recovery</th>
                                                        <th style="text-align:center">Total BD Amount After Recovery(RM)</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Selangor</td>
                                                        <td style="text-align:center">763</td>
                                                        <td style="text-align:right">67,609,192.20</td>
                                                        <td style="text-align:center">162</td>
                                                        <td style="text-align:right">(18,336,108.45) </td>
                                                        <td style="text-align:center">601 </td>
                                                        <td style="text-align:right">49,273,083.75</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kedah</td>
                                                        <td style="text-align:center">266</td>
                                                        <td style="text-align:right">56,480,691.40</td>
                                                        <td style="text-align:center">42</td>
                                                        <td style="text-align:right">(9,714,716.00)</td>
                                                        <td style="text-align:center">224</td>
                                                        <td style="text-align:right">46,765,975.40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Pahang</td>
                                                        <td style="text-align:center">244</td>
                                                        <td style="text-align:right">56,256,691.40</td>
                                                        <td style="text-align:center">42</td>
                                                        <td style="text-align:right">(9,714,716.00)</td>
                                                        <td style="text-align:center">224</td>
                                                        <td style="text-align:right">46,765,975.40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Terengganu</td>
                                                        <td style="text-align:center">244</td>
                                                        <td style="text-align:right">50,256,691.40</td>
                                                        <td style="text-align:center">42</td>
                                                        <td style="text-align:right">(9,714,716.00)</td>
                                                        <td style="text-align:center">224</td>
                                                        <td style="text-align:right">5,765,975.40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Perak</td>
                                                        <td style="text-align:center">244</td>
                                                        <td style="text-align:right">35,256,691.40</td>
                                                        <td style="text-align:center">42</td>
                                                        <td style="text-align:right">(9,714,716.00)</td>
                                                        <td style="text-align:center">224</td>
                                                        <td style="text-align:right">46,765,975.40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Perlis</td>
                                                        <td style="text-align:center">64</td>
                                                        <td style="text-align:right">26,256,691.40</td>
                                                        <td style="text-align:center">6</td>
                                                        <td style="text-align:right">(4,714,716.00)</td>
                                                        <td style="text-align:center">58</td>
                                                        <td style="text-align:right">22,765,975.40</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kuala Lumpur</td>
                                                        <td style="text-align:center">244</td>
                                                        <td style="text-align:right">22,256,691.40</td>
                                                        <td style="text-align:center">42</td>
                                                        <td style="text-align:right">(9,714,716.00)</td>
                                                        <td style="text-align:center">224</td>
                                                        <td style="text-align:right">45,765,975.40</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr style="background-color:#877cb5">
                                                        <td style="font-weight:bold">GRAND TOTAL</td>
                                                        <td style="text-align:center;font-weight:bold">566</td>
                                                        <td style="text-align:right;font-weight:bold">54,256,691.40</td>
                                                        <td style="text-align:center;font-weight:bold">72</td>
                                                        <td style="text-align:right;font-weight:bold">(9,714,716.00)</td>
                                                        <td style="text-align:center;font-weight:bold">274</td>
                                                        <td style="text-align:right;font-weight:bold">77,765,975.40</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<button id="btnGenerate" class="btn btn-success">Generate</button>*@
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    <!-- Offcanvas Sidebar -->
    <!-- End Offcanvas Sidebar -->
</div>

@section Scripts{

    <script src="~/assets/js/components/wizard/form-wizard.min.js"></script>
    <script src="~/assets/vendors/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/js/components/chartjs/chartjs.min.js"></script>
    <script src="~/assets/vendors/js/tablefilter/jquery.tablefilter.js"></script>
    <script src="~/assets/vendors/js/tablefilter/jquery.tabledatafilter.min.js"></script>
    @*<script src="~/assets/vendors/js/tablefilter/jquery.tableditfixedheader.min.js"></script>*@
    <script>

        $(document).ready(function () {
            $(function () {
                $("nav").addClass("shrinked");
            });
        });

        //$("#btnPull").on('click', function () {

        //    $.ajax({
        //        type: "GET",
        //        url: "/Reporting/GetReportForState?month=" + $("#ddlMonth").val() + "&year=" + $("#ddlYear").val() + "",
        //        processData: false,
        //        contentType: false,
        //        success: function (data) {
        //            $("#tblLampiran1 tbody tr").remove();
        //            for (var i = 0; i < data.length; i++) {
        //                console.log(data[i]);

        //                $('#tblLampiran1').append('<tr><td>' + data[i].state + '</td><td style="text-align:center">' + data[i].noOfBDIssued + '</td><td style="text-align:right">' + data[i].amount + '</td><td style="text-align:center">' + data[i].noOfRecovery + '</td><td style="text-align:right">' + data[i].amountRev + '</td><td style="text-align:center">' + data[i].noOfOutstanding + '</td><td style="text-align:right">' + data[i].outstandingAmount + '</td></tr>');


        //            }
        //        }
        //    });

      
    </script>
}