
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BDA Reporting</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif; font-size:12pt">

    <div id="chart-container">
        <div id="chart-container1">
            <canvas id="barchart2a" width="400" height="100"></canvas>
        </div>
        <div>
            <table id="tblLampiran2a" class="table table-hover table-bordered mb-0 display" style="background-color:white;padding-right:30px;margin-left:-10px;font-size:10px">
                <tr id="rowMonth">
                    <td>Month</td>
                </tr>
                <tr id="rowAmount">
                    <td>RM (Million)</td>
                </tr>
                <tr id="rowDiff">
                    <td>Diff RM (Million)</td>
                </tr>
                <tr id="rowPercentage">
                    <td>Percentage %</td>
                </tr>
            </table>
        </div>


        <br /><br />
        <div>
            <canvas id="barchart2b" width="400" height="100"></canvas>
        </div>
        <div>
            <table id="tblLampiran2b" class="table table-hover table-bordered mb-0 display" style="background-color:white;padding-right:30px;margin-left:-10px;font-size:10px">
                <tr id="rowMonth">
                    <td>Month</td>
                </tr>
                <tr id="rowAmount">
                    <td>RM (Million)</td>
                </tr>
                <tr id="rowDiff">
                    <td>Diff RM (Million)</td>
                </tr>
                <tr id="rowPercentage">
                    <td>Percentage %</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
