<div class="widget-body">
    <div id="jsGrid"></div>
</div>
<div id="pnl_history" class="widget-body">
    <h3>Senarai Aktiviti</h3>
    <table id="tblHistory" class="table table-hover mb-0 display table-bordered">
        <thead>
            <tr>
                <td>Role</td>
                <td>Action By</td>
                <td>Status</td>
                <td>Action Date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Requester</td>
                <td>Luqman Ilham</td>
                <td>Created</td>
                <td>01/11/2019</td>
            </tr>
        </tbody>
    </table>
</div>