@model BDA.ViewModel.BankDraftViewModel
@{
    var surat = "";
    var umap = "";

    if (Model != null)
    {
        surat = Model.WCSuratKelulusanVM.FileName;
        umap = Model.WCUMAPVM.FileName;
    }

}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="widget-header d-flex align-items-center" aria-expanded="true">
    <h3>Dokumen Sokongan</h3>
</div>
<div id="pnl_document" class="widget-body">
    <div class="table-responsive padding-left-20 padding-right-20">
        <table id="tblListVerifier" class="table table-hover mb-0 display table-bordered">
            <thead>
                <tr>
                    <th style="width:8px">No</th>
                    <th>Name</th>
                    <th style="width:150px">Action</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <p>Original Bank Draft (Scanned)<span class="text-danger ml-2">*</span></p>
                    </td>
                    <td class="td-actions">
                        <div id="uploadBankDraft" class="file-upload before-submit">
                            <input id="" name="oriBD" type="file">
                        </div>
                        <div id="printBankDraft" style="display:none">
                            <a href="#" class="btn btn-lost" title="View Ins letter"><i class="ti ti-printer"></i></a>
                        </div>
</tr>
                <tr>
                    <td>2</td>
                    <td>
                        <p>Memo (Scanned)<span class="text-danger ml-2">*</span></p>
                    </td>
                    <td class="td-actions">
                        <div id="uploadMemo" class="file-upload before-submit">
                            <input id="" name="oriMemo" type="file">
                        </div>
                        <div id="printMemo" style="display:none">
                            <a href="#" class="btn btn-lost" title="View Ins letter"><i class="ti ti-printer"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>