<div id="stsCreated" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Cancellation Created! </strong>This cancellation is created</span>
</div>
<div id="stsProcessed" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Cancellation Processed! </strong>This application is processed.</span>
</div>
<div id="stsSubmitted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Cancellation Submitted! </strong>This application is submitted.</span>
</div>
<div id="stsCompleted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Cancellation Completed! </strong>This application is completed.</span>
</div>
<div id="stsWithdrawn" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Cancellation Withdrawn! </strong>This application is waiting re-submission.</span>
</div>
<div id="stsRejected" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Cancellation Rejected! </strong>This application is waiting re-submission.</span>
</div>