
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instruction Letter</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif; font-size:12pt">

    <div class="content" style='page-break-after: auto;'>
        <p style="float:left">Rujukan Kami: TNB/KEW (UP) B 14/8/Deraf</p>
        <p style="float:right">12 Mac 2019</p>
        <p><br /></p>
        <p>
            <br />Pengurus Maybank,
            <br />Level 1, Tower A, Dataran Maybank
            <br />No. 1, Jalan Maarof
            <br />Kuala Lumpur
        </p>
        <p>
            <b>
                <u>
                    U/Perhatian : En. Harryade bin Mohamad Arbe
                </u>
            </b>
        </p>
        <p>
            Tuan/Puan,
        </p>
        <p>
            <b>
                <u>
                    PEMBATALAN DERAF BANK PADA 13.12.2019 (RABU)
                </u>
            </b>
        </p>
        <p>
            Perkara di atas dirujuk,
            <br/>
            Sila ambil tindakan untuk membatal dan menghentikan pembayaran deraf bank yang disertakan bersama ini. Butir-butir deraf bank adalah seperti berikut:
        </p>
        <table style="font-weight:bold; border:0px; width:100%;" cellpadding="7px">
            <tr>
                <th></th>
                <th style="text-align:center"><u>Nama Penerima</u></th>
                <th style="text-align:center"><u>Tempat</u></th>
                <th style="text-align:center"><u>No. Deraf</u></th>
                <th style="text-align:center"><u>Jumlah</u></th>
            </tr>
            <tr>
                <td>1.</td>
                <td>PENGARAH JKR NEGERI PAHANG</td>
                <td style="text-align:center">PAHANG</td>
                <td style="text-align:center">140762</td>
                <td style="text-align:center">RM 232,659.00</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>PENGARAH JKR NEGERI PAHANG</td>
                <td style="text-align:center">PAHANG</td>
                <td style="text-align:center">140772</td>
                <td style="text-align:center">RM 391,440.00</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>MAJLIS PERBANDARAN SUBANG JAYA</td>
                <td style="text-align:center">SELANGOR</td>
                <td style="text-align:center">140773</td>
                <td style="text-align:center">RM 26,730.00</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:center">JUMLAH</td>
                <td style="border-bottom:1px solid; border-top:1px solid;text-align:center">RM 650,829.00</td>
            </tr>
        </table>
        @*<p>
            Ringgit : Enam ratus lima puluh ribu lapan ratus dua puluh sembilan sahaja.
        </p>*@
        <p>
            Sila kreditkan jumlah deraf bank tersebut ke akaun seperti TNB berikut :
            <ul>
                <li>
                    <b>5-14253-33333-4</b> bagi jumlah diatas
                </li>
                <li>
                    <b>5-14253-50002-0</b> untuk caj bank.
                </li>
            </ul>
        </p>
        <p>
            <b>
                Ref: 1)PJKRNP 2) MPSJ
            </b>
        </p>
        <p>
            Sekian, terima kasih.
        </p>
        <p>
            <center>
                <b>
                    <i>
                        "BETTER. BRIGHTER."
                        <br />"TNB MENGAMALKAN DASAR TIADA HADIAH"
                    </i>
                </b>
            </center>
        </p>
        <p>
            Yang benar,
        </p>
        <p>
            <br />
            <br />
            <br />
            <table style="border:0px; width:100%">
                <tr>
                    <td style="border-top:1px solid" width="25%">Penandatangan Yang Diberikuasa</td>
                    <td width="25%"></td>
                    <td style="border-top:1px solid" width="25%">Penandatangan Yang Diberikuasa</td>
                </tr>
            </table>
        </p>
        <div style="float:right">
            <span style="border:1px solid rgba(0,0,0,0.5); padding:5px">
                FSTL-750-03-QR02
            </span>
        </div>
    </div>
</body>
</html>
