
@{
    ViewData["Title"] = "New Cover Memo";
    //Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section Styles{

    <style>

        table.dataTable td {
            word-break: break-word;
        }
    </style>
}

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Bulk Processing</h2>
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Bulk Processing</a></li>
                            <li class="breadcrumb-item active">Cover Memo to Requestor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <!-- Form -->
                <div class="widget has-shadow">
                    <div class="widget-header bordered no-actions d-flex align-items-center">
                        <h4>Cover Memo to Requestor</h4>
                    </div>
                    <div class="widget-body">
                        <div class="row flex-row justify-content-center">
                            <div class="col-xl-12">
                                <div class="row flex-row" style="margin-bottom: 30px">
                                    <div class="col-xl-3 col-md-6 col-sm-6">
                                        <a href="" class="btn btn-lg btn-primary btnNewMemo">
                                            Create New Memo
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-sm-12 mb-3">
                                        <table id="tblCoverMemo" class="table display" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Cover Memo No</th>
                                                    <th>Reference No</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr class="filterrow">
                                                    <th class="input-filter"><input id="search-CoverRefNo" type="text" class="form-control tchatchaca" style="height:40px !important;" placeholder="Search.."></th>
                                                    <th class="input-filter"><input id="search-ReferenceNo" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>

                                                    <th class="select-filter">
                                                        <select id="search-Status" class="form-control filter" style="height:40px !important;" placeholder="Status">
                                                            <option value=""></option>
                                                            <option value="Issued">Issued</option>
                                                            <option value="Issuing">Issuing</option>
                                                        </select>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    <!-- Offcanvas Sidebar -->
    @*@Html.Partial("_Log.cshtml")*@
    <!-- End Offcanvas Sidebar -->
</div>


@section Scripts{
    <script src="~/assets/vendors/js/datatables/datatables.min.js"></script>
    <script src="~/assets/vendors/js/datatables/dataTables.select.min.js"></script>
    <script src="~/assets/vendors/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.flash.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.print.min.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.html5.js"></script>

    <script src="~/assets/vendors/js/tablefilter/jquery.tablefilter.js"></script>
    <script src="~/assets/vendors/js/tablefilter/jquery.tabledatafilter.min.js"></script>
    <script>

        $('#btnSubmit').on('click', function (e) {
            $("#tab1").hide();
            $("#pnlSuccess").show();
        });
        $('#btnEdit').on('click', function (e) {
            $("#tab1").show();
            $("#pnlSuccess").hide();
        });

        var editor; // use a global for the submit and return data rendering in the examples

        $(document).ready(function () {

            $('#ddlSendMethod').on('change', function (e) {
                if (this.value == "2") {
                    $('#pnlPostageNo').show();
                } else {
                    $('#pnlPostageNo').hide();
                }
            });

            $('.btnNewMemo').click(function (event) {
                event.preventDefault();
                window.open("/CoverMemo/Create", "popupWindow", "width=600,height=600,scrollbars=yes");
            });

            //$('#tblCoverMemo').dataTable.ext.errMode = 'throw';
             var table =   $('#tblCoverMemo').DataTable({
                    dom: "Bfrtip",
                    "processing": true,
                    //serverSide: true,
                    "ajax": {
                        url:  "@Url.Action("GetAllCoverMemo", "CoverMemo")",
                        type: "GET",
                        data: function (d) {
                            d._CoverRefNo = $('#search-CoverRefNo').val();
                            d._ReferenceNo = $('#search-ReferenceNo').val();
                            d._Status = $('#search-Status option:selected').val();
                        },
                        dataFilter: function (result) {
                            var jData = JSON.parse(result);
                            var dtData = JSON.stringify({ "data": jData });
                            return dtData;
                        }
                     },
                    order: [[0, 'desc']],
                    columns: [
                        { data: "coverRefNo" },
                        { data: "referenceNo", "width": "54.5%"  },
                        { data: "status" },
                        {
                            data: "id",
                            "render": function (data, type, row) {
                                var id = "'" + data + "'";
                                if (type == "display") {
                                    if (row["status"] == "Issued") {
                                        var _onclick_ = "openView('" + row["coverRefNo"] + "')";
                                        var _onclickDoc_ = "openDocument('" + row["signedMemo"] + "')";
                                        data = '<a href="#" onclick="' + _onclick_ + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost" title="View Memo"><i class="ti ti-printer"></i></a>'
                                            + '<a href="#" onclick="' + _onclickDoc_ + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost" title="View Signed Memo"><i class="ti ti-clip"></i></a>';
                                    }
                                    else {
                                        var _onclick_ = "openView('" + row["coverRefNo"] + "')";
                                        var _onclickEdit_ = "openEdit(" + id + ")";
                                        var _onclickSubmit_ = "openSubmit(" + id + ")";
                                        data = '<a href="#" onclick="' + _onclick_ + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost" title="View Memo"><i class="ti ti-printer"></i></a>'
                                            + '<a href="#" onclick="' + _onclickEdit_ + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost" title="Edit Memo"><i class="ti ti-pencil-alt"></i></a>'
                                            + '<a href="#" onclick="' + _onclickSubmit_ + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost" title="Submit to Requestor"><i class="ti ti-check-box"></i></a>';
                                    }
                                }
                                return data;
                            }
                        }
                    ],
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "bAutoWidth": false,
                    orderCellsTop: true,
                    fixedHeader: true,
                    "lengthChange": false,
            });


            $('.table thead filterCol').appendTo('table thead');

            $.each($('.input-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('input', this).on('keyup change', function () {
                    table.ajax.reload();
                });
            });

            $.each($('.select-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('select', this).on('change', function () {
                    table.ajax.reload();
                });
            });


        });

        function openEdit(Id) {
            event.preventDefault();
            window.open("/CoverMemo/Edit?Id=" + Id, "popupWindow", "width=600,height=600,scrollbars=yes");
        }
        function openView(RefNo) {
            event.preventDefault();
            window.open("/CoverMemo/Memo?CoverMemoRefNo=" + RefNo, "popupWindow", "width=600,height=600,scrollbars=yes");
        }
        function openDocument(docName) {
            event.preventDefault();
            window.open("/../documents/" + docName, "popupWindow", "width=600,height=600,scrollbars=yes");
        }
        function openSubmit(Id) {
            event.preventDefault();
            window.open("/CoverMemo/SubmitToRequestor?id=" + Id, "popupWindow", "width=600,height=600,scrollbars=yes");
        }
    </script>
}