@model BDA.ViewModel.LostViewModel
@{
    ViewData["Title"] = "UMA Tracking";
}

<div class="content-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">UMA TRACKING</h2>
                </div>
            </div>
        </div>

        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="widget has-shadow">
                    <div class="widget-body sliding-tabs">
                        <ul class="nav nav-tabs form-tab" id="ul-form-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="base-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Create Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" id="base-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Process Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" id="base-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Submit Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" id="base-tab-4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Complete Details</a>
                            </li>
                        </ul>
                        <div class="tab-content pt-3">
                            <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="base-tab-1">
                                @using (Html.BeginForm("Create", "UMA", Model, FormMethod.Post, false, new { @id = "formCreateUMA", @class = "form-horizontal needs-validation", @novalidate = "novalidate", enctype = "multipart/form-data" }))
                                {
                                    @Html.Partial("_CreateDetails.cshtml")
                                    @Html.Partial("_Document.cshtml")
                                    @Html.Partial("_ApproverList.cshtml")
                                }
                            </div>
                        </div>
                        @Html.Partial("_ActionButton.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>