<div id="stsCreated" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Recovery Created! </strong>This recovery is created</span>
</div>
<div id="stsProcessed" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Recovery Processed! </strong>This application is processed.</span>
</div>
<div id="stsSubmitted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Recovery Submitted! </strong>This application is submitted.</span>
</div>
<div id="stsCompleted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Recovery Completed! </strong>This application is completed.</span>
</div>